<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    </head>
    <body>
        <form action="/markers" method="post">
          Name: <input name="name" type="text"/>
          Lat: <input name="lat" type="text"/>
          Lng: <input name="lng" type="text"/>
          <input type="submit">
        </form>
    </body>
</html>